.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 495.75px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 20px;
	margin-bottom: 72px;
}

#u1038
{
	z-index: 39;
	width: 421px;
	margin-left: 270px;
}

#u1038_img
{
	padding-right: 1px;
}

#menuu573
{
	z-index: 2;
	width: 920px;
	margin-left: 20px;
	margin-top: 13px;
}

#u1014
{
	width: 151px;
	min-height: 26px;
	margin-right: -10000px;
}

#u1017
{
	width: 151px;
	padding-bottom: 9px;
}

#u1017:hover
{
	margin: 0px;
}

#u1091
{
	width: 151px;
	min-height: 26px;
	margin-right: -10000px;
	left: 153px;
}

#u1094
{
	width: 151px;
	padding-bottom: 9px;
}

#u1017.MuseMenuActive,#u1094:hover
{
	margin: 0px;
}

#u1018-4,#u1095-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u581
{
	width: 152px;
	min-height: 26px;
	margin-right: -10000px;
	left: 306px;
}

#u584
{
	width: 152px;
	padding-bottom: 9px;
}

#u1094.MuseMenuActive,#u584:hover
{
	margin: 0px;
}

#u615
{
	width: 152px;
	min-height: 26px;
	margin-right: -10000px;
	left: 460px;
}

#u616
{
	width: 152px;
	padding-bottom: 9px;
}

#u584.MuseMenuActive,#u616:hover
{
	margin: 0px;
}

#u622
{
	width: 152px;
	min-height: 26px;
	margin-right: -10000px;
	left: 614px;
}

#u623
{
	width: 152px;
	padding-bottom: 9px;
}

#u616.MuseMenuActive,#u623:hover
{
	margin: 0px;
}

#u967
{
	width: 152px;
	min-height: 26px;
	margin-right: -10000px;
	left: 768px;
}

#u970
{
	width: 152px;
	padding-bottom: 9px;
}

#u623.MuseMenuActive,#u970:hover
{
	margin: 0px;
}

#u970.MuseMenuActive
{
	margin: 0px;
}

#u587-4,#u619-4,#u624-4,#u973-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#pu1031
{
	width: 0.01px;
	left: -100px;
	margin-top: 32px;
	position: relative;
}

#u1031
{
	z-index: 41;
	width: 1160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1045-7
{
	z-index: 43;
	width: 566px;
	min-height: 191px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1045-2
{
	line-height: 43px;
	color: #FFFFFF;
}

#u1045-3,#u1045-5
{
	color: #FFFFFF;
}

#buttonu1078
{
	z-index: 50;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #CC0000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 407px;
	margin-top: 11px;
	position: relative;
}

#buttonu1078:hover
{
	background-color: #5F0D0D;
	margin: 11px 0px 0px 407px;
}

#u1079-4
{
	z-index: 51;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#buttonu1078:hover #u1079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1078.ButtonSelected #u1079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1078:hover #u1079-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#page .verticalspacer
{
	clear: both;
}

