#u1017
{
	background-color: #CC0000;
	position: relative;
}

#u1017:hover
{
	background-color: #5F0D0D;
}

#u1094
{
	background-color: #CC0000;
	position: relative;
}

#u1094:hover
{
	background-color: #5F0D0D;
}

#u584
{
	background-color: #CC0000;
	position: relative;
}

#u584:hover
{
	background-color: #5F0D0D;
}

#u616
{
	background-color: #CC0000;
	position: relative;
}

#u616:hover
{
	background-color: #5F0D0D;
}

#u623
{
	background-color: #CC0000;
	position: relative;
}

#u623:hover
{
	background-color: #5F0D0D;
}

#u1038,#menuu573,#u1014,#u1091,#u581,#u615,#u622,#u967
{
	position: relative;
}

#u970
{
	background-color: #CC0000;
	position: relative;
}

#u970:hover
{
	background-color: #5F0D0D;
}

#u1017.MuseMenuActive,#u1094.MuseMenuActive,#u584.MuseMenuActive,#u616.MuseMenuActive,#u623.MuseMenuActive,#u970.MuseMenuActive
{
	background-color: #232020;
}

#u1018-4,#u1095-4,#u587-4,#u619-4,#u624-4,#u973-4
{
	text-align: center;
	color: #FFFFFF;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

